@import "./reset";
@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";

.App,
.app_modal,
.app_drawer {
	font: var(--font-m);
	color: var(--primary-color);
}

.App {
	background-color: var(--bg-color);
	color: var(--primary-color);
	min-height: 100dvh;
}

* {
	scrollbar-width: 10px;
	scrollbar-color: var(--invert-primary-color) var(--card-bgc);
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	background: var(--card-bgc);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--invert-primary-color);
	border-radius: 5px;
	border: 1px solid var(--primary-color);
}
