.primary {
	fill: var(--primary-color);

	&.stroke {
		stroke: var(--primary-color);
	}
}

.secondary {
	fill: var(--secondary-color);

	&.stroke {
		stroke: var(--secondary-color);
	}
}

.invert_primary {
	fill: var(--invert-primary-color);

	&.stroke {
		stroke: var(--invert-primary-color);
	}
}

.invert_secondary {
	fill: var(--invert-secondary-color);

	&.stroke {
		stroke: var(--invert-secondary-color);
	}
}

.red {
	fill: var(--red-primary-color);

	&.stroke {
		stroke: var(--red-primary-color);
	}
}

.size_xs {
	svg {
		width: 20px;
	}
}

.size_s {
	svg {
		width: 24px;
	}
}

.size_m {
	svg {
		width: 32px;
	}
}

.size_l {
	svg {
		width: 40px;
	}
}
