.Icon {
	display: flex;
	align-items: center;

	&.primary {
		fill: var(--primary-color);
	}

	&.secondary {
		fill: var(--secondary-color);
	}

	&.invert_primary {
		fill: var(--invert-primary-color);
	}

	&.invert_secondary {
		fill: var(--invert-secondary-color);
	}

	&.red {
		fill: var(--red-primary-color);
	}
}
