.SideBar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	background-color: var(--invert-bg-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-block: 30px;
	transition: all 0.2s linear;
}

.switchers {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
}

.toggle {
	width: 100%;
	height: 50px;
}

.links {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 50px;
}

.link {
	display: flex;
	gap: 10px;
	color: var(--invert-primary-color);
	fill: var(--invert-primary-color);
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.switchers {
		flex-direction: column;
	}

	.links {
		align-items: center;
	}

	.link {
		gap: 0;
	}

	.text {
		opacity: 0;
		width: 0;
		transition: 0.2s all linear;
	}
}
