.SideBar {
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar-width);
	background-color: var(--invert-bg-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-block: 30px;

	transition: all 0.2s linear;
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.switchers {
		flex-direction: column;
	}
}

.switchers {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
}
