.Big {
	width: 100%;
	height: 624px;

	.wrapper {
		padding: 20px;
		width: 100%;
	}

	.types {
		padding-block: 4px;
	}

	.content {
		padding-block: 10px 50px;
	}

	.btnBlock {
		margin-top: 50px;
	}
}

.widthWrapper {
	width: 100%;
}

.Small {
	width: 200px;
	height: 250px;

	.data {
		width: 100%;
		padding: 1px 10px;
		margin-bottom: 4px;
	}

	.title {
		align-self: flex-start;
	}
}
