.primary {
	.title {
		color: var(--primary-color);
	}

	.text {
		color: var(--secondary-color);
	}
}

.error {
	.title {
		color: var(--red-primary-color);
	}

	.text {
		color: var(--red-secondary-color);
	}
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.size_m {
	.text {
		font: var(--font-m);
	}

	.title {
		font: var(--font-l);
	}
}

.size_l {
	.text {
		font: var(--font-l);
	}

	.title {
		font: var(--font-xl);
	}
}

.primary.invert {
	.title {
		color: var(--invert-primary-color);
	}

	.text {
		color: var(--invert-secondary-color);
	}
}
