.App.light {
	--bg-color: rgb(236, 241, 244);
	--invert-bg-color: rgb(7, 9, 113);

	--primary-color: rgb(7, 4, 93);
	--invert-primary-color: rgb(19, 93, 4);

	--secondary-color: rgb(10, 62, 194);
	--inverted-secondary-color: rgb(10, 194, 29);
}
