.Button {
	cursor: pointer;
	color: var(--primary-color);
	padding-block: 10px;
	padding-inline: 15px;
	border-radius: 5px;
}

.hover {
	&:hover {
		opacity: 0.7;
	}
}

.w100 {
	width: 100%;
}

.primary {
	background: var(--invert-bg-color);
	border: 2px solid var(--invert-primary-color);
	color: var(--invert-primary-color);
}

.primary.inverted {
	background: var(--bg-color);
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}

.secondary {
	background: var(--invert-bg-color);
	border: 2px solid var(--invert-secondary-color);
	color: var(--invert-secondary-color);
}

.secondary.inverted {
	background: var(--bg-color);
	border: 2px solid var(--secondary-color);
	color: var(--secondary-color);
}

.clear {
	border: none;
	background: none;
	outline: none;
	margin: 0;
	padding: 0;
	color: var(--primary-color);
}

.clear.inverted {
	color: var(--invert-primary-color);
}

.outline_primary {
	background: none;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
}

.outline_primary.inverted {
	border: 2px solid var(--invert-primary-color);
	color: var(--invert-primary-color);
}

.outline_secondary {
	background: none;
	border: 2px solid var(--secondary-color);
	color: var(--secondary-color);
}

.outline_secondary.inverted {
	border: 2px solid var(--invert-secondary-color);
	color: var(--invert-secondary-color);
}

.outline_red {
	background: none;
	border: 2px solid var(--red-primary-color);
	color: var(--red-primary-color);
}
