.Button {
	cursor: pointer;
	color: var(--invert-primary-color);
}

.primary {
	background-color: var(--bg-color);
}

.clear {
	border: none;
	background-color: rgb(0 0 0 / 0%);
	outline: none;
	margin: 0;
	padding: 0;
}
