.Avatar {
	border: 2px solid var(--primary-color);
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	overflow: hidden;
	align-self: center;
}

.avatarImg {
	height: 110%;
}

.inverted {
	border: 2px solid var(--invert-primary-color);
}

.size_xs {
	width: 30px;
	border-width: 1px;
}

.size_s {
	width: 100px;
}

.size_m {
	width: 150px;
}

.size_l {
	width: 200px;
}
