.Avatar {
	border: 2px solid var(--primary-color);
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;

	img {
		height: 110%;
	}
}

.size_xs {
	width: 30px;
	border-width: 1px;
}

.size_s {
	width: 100px;
}

.size_m {
	width: 150px;
}

.size_l {
	width: 200px;
}
