.Avatar {
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	overflow: hidden;
}

.border {
	border: 2px solid var(--primary-color);

	&.inverted {
		border: 2px solid var(--invert-primary-color);
	}

	&.size_xs {
		border-width: 1px;
	}
}

.size_xs {
	width: 30px;
}

.size_s {
	width: 100px;
}

.size_m {
	width: 150px;
}

.size_l {
	width: 200px;
}
