.Popover {
	position: relative;
	display: inline-block;
}

.trigger {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.panel {
	padding: 10px;
	position: absolute;
	z-index: var(--popup-z-index);
	border-radius: 5px;
	border: 2px solid var(--invert-bg-color);
	background: var(--invert-options-bgc);
	color: var(--invert-primary-color);
}
