.ProfileCard {
	display: flex;
	padding: 20px;
	margin-block: 20px;
	border-radius: 10px;
	border: 2px solid var(--primary-color);
}

.profileData {
	width: 66%;
	display: flex;
	flex-direction: row;
	gap: 30px;
	flex-grow: 1;
}

.column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	gap: 20px;
}

.template {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}
